<!-- src/app/modules/consultants/consultant-create/consultant-create.component.html -->

<h2 mat-dialog-title>
    Add New Doctor
  </h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
      <mat-icon matSuffix>phone</mat-icon>
        <input matInput formControlName="phone">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-button (click)="cancel()">Cancel</button>
    <button mat-stroked-button color="primary" mat-button (click)="submit()">Add Doctor</button>
  </mat-dialog-actions>
  