
<input #searchInput [(ngModel)]="searchTerm" placeholder="Search Patients" (keyup)="search(searchInput.value)" />


<div>
    <h1>Patient List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.id }}</td>
          <td>{{ patient.firstName }} {{ patient.lastName }}</td>
          <td>{{ patient.age }}</td>
          <td>
            <button (click)="viewPatient(patient.id)">View</button>
            <button (click)="editPatient(patient.id)">Edit</button>
            <button (click)="deletePatient(patient.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  