.full-width {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
